<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated urdf -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="urdf.presentation.UrdfModelWizardID"
            name="%_UI_UrdfModelWizard_label"
            class="urdf.presentation.UrdfModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UrdfModelFile.gif">
         <description>%_UI_UrdfModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated urdf -->
      <editor
            id="urdf.presentation.UrdfEditorID"
            name="%_UI_UrdfEditor_label"
            icon="icons/full/obj16/UrdfModelFile.gif"
            extensions="urdf"
            class="urdf.presentation.UrdfEditor"
            contributorClass="urdf.presentation.UrdfActionBarContributor">
      </editor>
   </extension>

</plugin>
