<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated urdf -->
      <package
            uri="http://www.ipa.fraunhofer.de/urdf"
            class="urdf.UrdfPackage"
            genModel="model/urdf.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xacro -->
      <package
            uri="http://www.ipa.fraunhofer.de/xacro"
            class="xacro.XacroPackage"
            genModel="model/xacro.genmodel"/>
   </extension>

</plugin>
