<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated kinematics -->
      <package
            uri="https://de/fraunhofer/ipa/kinematics"
            class="kinematics.KinematicsPackage"
            genModel="model/kinematics.genmodel"/>
   </extension>

</plugin>
