<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated kinematics -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="kinematics.presentation.KinematicsModelWizardID"
            name="%_UI_KinematicsModelWizard_label"
            class="kinematics.presentation.KinematicsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/KinematicsModelFile.gif">
         <description>%_UI_KinematicsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated kinematics -->
      <editor
            id="kinematics.presentation.KinematicsEditorID"
            name="%_UI_KinematicsEditor_label"
            icon="icons/full/obj16/KinematicsModelFile.gif"
            extensions="kinematics"
            class="kinematics.presentation.KinematicsEditor"
            contributorClass="kinematics.presentation.KinematicsActionBarContributor">
      </editor>
   </extension>

</plugin>
